html {
  background: #f6f6f6 no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   font-family: 'Raleway', sans-serif;
  }

@media screen and (prefers-reduced-motion: no-preference) {
  html,body {
    scroll-behavior: smooth;
  }
}

  #a {
  width:100%;}

  #Dashboard {
  opacity: 1;
  font: 16px Arial;
  background-color: white;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 90px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  z-index: 10;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

#fixed {
opacity: 1;
font: 16px Arial;
background-color: white;
position: absolute;
left: 0%;
top: 0%;
height: 130px;
width: 100%;
font-family: 'Roboto', sans-serif;
z-index: -10;
}

#Dashboard_table {
  opacity: 1;
  font: 16px Arial;
  background-color: white;
  position: absolute;
  left: 37%;
  top: 40%;
  width: 50%;
  font-family: 'Roboto', sans-serif;
}

.tool {
  text-decoration: none;
  color: black;
}

.Dash_table {
  width: 48vmax;
  text-align: center;
}

.Dash_table td{
  width: 8vmax;
}


#Logo{
  width: 50px;
  padding-left: 18%;
}

#lineetta{
  background-color: #0054F1;
  width: 43px;
  height: 3px;
  margin: auto;
}



.CSSgal {
	position: relative;
	overflow: hidden;
  width: calc(100% + 16px);
  left: -8px;
  top: -8px;
	height: calc(32vmax + 90px); /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  position: absolute;
	height: 32vmax;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
  top: 90px;
  width: calc(100% + 16px);
  left: -8px;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 98%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: transparent;
	position: absolute;
	width:       40px;
	height:      40px;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
  color: #0054F1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
  padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
  line-height: 30px;/*bottoni sotto*/
  text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden; }
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}

/* YOU'RE THE DESIGNER!
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;
	text-align: center;
}
.CSSgal .slider h2, .CSSgal .slider h1 {
  text-shadow: 3px 3px #000000;
  font-family: 'Raleway', sans-serif;
	margin-top: 14vmax;
  margin-left: -8%;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 5vmax;
}
.CSSgal .prevNext a {
	margin: 0 3px;
	color: white;
	text-decoration: none;
  font-size: 7vmax;
}

.CSSgal .bullets a {
  height: 5px;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

#prod {
  position: relative;
  width: calc(100% + 16px);
  left: -8px;
  top: -8px;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.pro_table{
  padding-top: 3%;
  width: 75%;/*MODIFICARE QUESTO*/
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.pro_table td, th{
  padding-left: 20px;
  text-align: left;
}

#lineetta2{
  background-color: #4755f1;
  width: 55px;
  height: 5px;
}

.prod_text0 {
  text-align: left;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}

.prod_text1 {
  font-size: 20px;
  color: #717171;
  text-transform: uppercase;
  font-weight: 600;
}

.prod_text2{
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #717171;
  vertical-align: text-top;
}

#obbiettivo {
  position: relative;
  width: calc(100% + 16px);
  overflow-y: hidden;
  left: -8px;
  top: -8px;
  padding-bottom: 80px;
  background-color: #0054F1;
}

.prod_text3 {
  text-align: left;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
  width: 66%;
  font-family: 'Raleway', sans-serif;
}

#black {
  position: relative;
  width: calc(100% + 16px);
  overflow-y: hidden;
  left: -8px;
  top: -8px;
  padding-bottom: 40px;
  background-color: #333333;
  z-index: -20;
}


#agg {
  position: relative;
  width: calc(100% + 16px);
  overflow-y: hidden;
  left: -8px;
  top: -8px;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: -20;
}

.parallax {
  background-image: url('http://localhost/mdm/foto/Tileable%20Fine%20Wood%20Texture2.jpg');
  background-attachment: fixed;
  z-index: 20;
  height: 40%;
  object-fit: cover;
}

.scrt {
  padding-top: 3%;
  width: 1210px;/*MODIFICARE QUESTO*/
  margin: auto;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 3%;
}

.prod_text4 {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}

#end{
  padding-top: 3%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}


.fa {
  padding: 20px;
  font: normal normal normal 20px/1 FontAwesome;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.center td{
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
}



.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 3rem;
  bottom: -5em;
  height: 160%;
  width: 3em;
  pointer-events: none;
  z-index: 100;
}

.back-to-top-wrapper-prod {
  position: absolute;
  top: 100vh;
  right: 3rem;
  bottom: -5em;
  height: 100%;
  width: 3em;
  pointer-events: none;
  z-index: 100;
}

.back-to-top-link {
  position: fixed;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem);
  display: inline-block;
  text-decoration: none;
  font-size: 2.7rem;
  color: #4755f1;
  line-height: 3.9rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.25rem;
  transition: width 100ms ease-in;
  background-color: #f6f6f6;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0);
}

.back-to-top-link:hover{
   transform: scale(1.1);
   width: 3rem;
 }

.back-to-top-link:focus {
   outline: none;
   box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
 }


#scritta{
  font-family: 'Syncopate', sans-serif;
  position: relative;
  background-color: #4755f1;
  top: 100px;
  left: -8px;
  width: calc(100% + 16px);
  text-align: center;
  padding-bottom: 1px;
  box-shadow:  0px 15px 0px 0px rgba(0, 0, 0);
}

 #tutto {
   position: relative;
   width: 100%;
   left: 0%;
   top: 125px;
 }

 #mainimg {
   margin: auto;
   text-align: center;
   position: relative;
   width: 70vw;/*MODIFICARE QUESTO*/
   height: calc((70vw * 40)/ 100);
   background-color: #0054F1;
   overflow: hidden;
 }

#carsofa{
  width: 100%;
  height: calc((70vw * 40)/ 100);
  object-fit: cover;
}

 #sec_img {
   margin: auto;
   position: relative;
   width: 54%;
   top: 86%;
   padding-top: 0.7%;
   z-index: 1;
   text-align: center;
 }

#c {
  width: 5vw;
  height: 5vw;
}

 #description {
   position: absolute;
   width: 21%;
   left: 67%;
   top: 0px;
   background-color: #0054F1;
   height: 100%;
 }

 #features {
   position: relative;
   top: 12%;
   width: 100%;
   background-color: #f6f6f6;
   padding-bottom: 50px;
 }


 .content-container {
     position: relative;
     width: 400px;
     height: 400px;
 }
 .content-container div {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }

h1 {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
	letter-spacing: -0.06em;
	font-size: 5vmax;
  margin-bottom: 20px;
}

#contatti{
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0px;
  height: 200%;
}

#map {
  height: 35%;
  /* The height is 400 pixels */
  width: 65%;
  /* The width is the width of the web page */
}
