html {
  background: #f6f6f6 no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   font-family: 'Raleway', sans-serif;
  }

@media screen and (prefers-reduced-motion: no-preference) {
  html,body {
    scroll-behavior: smooth;
  }
}

  a{
    color: white;
    text-decoration: none;
  }


  #a {
  width:100%;}

  #Dashboard {
  opacity: 1;
  font: 16px Arial;
  background-color: white;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 90px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  z-index: 10;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 750px) {
    #Dashboard {
      height: 60px;
    }
    #a {
    width:100%;}
}

#fixed {
opacity: 1;
font: 16px Arial;
background-color: white;
position: absolute;
left: 0%;
top: 0%;
height: 130px;
width: 100%;
font-family: 'Roboto', sans-serif;
z-index: -10;
}

#Dashboard_table {
  opacity: 1;
  font: 16px Arial;
  background-color: white;
  position: absolute;
  left: 37%;
  top: 40%;
  width: 50%;
  font-family: 'Roboto', sans-serif;
}

#myLinks {
  display: none;
  padding: 14px 16px;
  background-color: #f6f6f6;
}

.topnav {
  height: 60px;
  background-color: white;
  position: relative;
  z-index: 11;
}

.topnav a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  display: block;
  z-index: 50;
}

/* Style the hamburger menu */
.topnav a.icon {
  padding: 0px 0px;
  background: #4755f1;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}

.list{
  padding: 14px 16px;
}

.icon .fa{
  margin: 0px 0px;
}


.tool {
  text-decoration: none;
  color: black;
}

.Dash_table {
  font: 20px Arial;
  width: 48vmax;
  text-align: center;
}

.Dash_table td{
  width: 8vmax;
}


#Logo{
  width: 50px;
  padding-left: 18%;
}

#Logo_2{
  width: 50px;
  height: 60px;
  padding-left: 5%;
}


#lineetta{
  background-color: #0054F1;
  width: 43px;
  height: 3px;
  margin: auto;
}



.CSSgal {
	position: relative;
	overflow: hidden;
  width: calc(100% + 16px);
  left: -8px;
  top: -8px;
	height: calc(36vmax + 90px); /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  position: absolute;
	height: 36vmax;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
  top: 90px;
  width: calc(100% + 16px);
  left: -8px;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 98%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: transparent;
	position: absolute;
	width:       40px;
	height:      40px;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
  color: #0054F1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
  padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
  line-height: 30px;/*bottoni sotto*/
  text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden; }
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}

/* YOU'RE THE DESIGNER!
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;
	text-align: center;
}
.CSSgal .slider h2, .CSSgal .slider h1 {
  text-shadow: 3px 3px #000000;
  font-family: 'Raleway', sans-serif;
	margin-top: 14vmax;
  margin-left: -20%;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 5vmax;
}
.CSSgal .prevNext a {
	margin: 0 3px;
	color: white;
	text-decoration: none;
  font-size: 7vmax;
}

.CSSgal .bullets a {
  height: 5px;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

#prod {
  position: relative;
  width: calc(100% + 16px);
  left: -8px;
  top: -8px;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.pro_table{
  padding-top: 3%;
  width: calc(700px + 20%);/*MODIFICARE QUESTO*/
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.pro_table td, th{
  padding-left: 20px;
  text-align: left;
}

#lineetta2{
  background-color: #4755f1;
  width: 55px;
  height: 5px;
}

.prod_text0 {
  text-align: left;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}

.prod_text1 {
  font-size: 20px;
  color: #717171;
  text-transform: uppercase;
  font-weight: 600;
}

.prod_text2{
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #717171;
  vertical-align: text-top;
}

#obbiettivo {
  position: relative;
  width: calc(100% + 16px);
  overflow-y: hidden;
  left: -8px;
  top: -8px;
  padding-bottom: 80px;
  background-color: #1a6aff;
}

.prod_text3 {
  text-align: left;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
  width: 70%;
  font-family: 'Raleway', sans-serif;
}

#black {
  position: relative;
  width: calc(100% + 16px);
  overflow-y: hidden;
  left: -8px;
  top: -8px;
  padding-bottom: 40px;
  background-color: #333333;
  z-index: -20;
}


#agg {
  position: relative;
  width: calc(100% + 16px);
  overflow-y: hidden;
  left: -8px;
  top: -8px;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: -20;
}

.parallax {
  background-image: url('http://localhost/mdm/Tileable%20Fine%20Wood%20Texture2.jpg');
  background-attachment: fixed;
  z-index: 20;
  height: 40%;
  object-fit: cover;
}

.scrt {
  padding-top: 3%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 3%;
}

h3 {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.prod_text4 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}

.prod_text5 {
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}

#end{
  padding-top: 3%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}


.fa {
  padding: 20px;
  font: normal normal normal 20px/1 FontAwesome;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.center td{
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
}



.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 3rem;
  bottom: -5em;
  height: 180%;
  width: 3em;
  pointer-events: none;
  z-index: 100;
}

.back-to-top-wrapper-prod {
  position: absolute;
  top: 100vh;
  right: 3rem;
  bottom: -5em;
  height: 100%;
  width: 3em;
  pointer-events: none;
  z-index: 100;
}

.back-to-top-link {
  position: fixed;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem);
  display: inline-block;
  text-decoration: none;
  font-size: 2.7rem;
  color: #4755f1;
  line-height: 3.9rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.25rem;
  transition: width 100ms ease-in;
  background-color: #f6f6f6;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0);
}

.back-to-top-link:hover{
   transform: scale(1.1);
   width: 3rem;
 }

.back-to-top-link:focus {
   outline: none;
   box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
 }


#scritta{
  font-family: 'Syncopate', sans-serif;
  position: relative;
  background-color: #4755f1;
  top: 70px;
  left: -8px;
  width: calc(100% + 16px);
  text-align: center;
  padding-bottom: 1px;
  box-shadow:  0px 15px 0px 0px rgba(0, 0, 0);
}

 #tutto {
   padding-bottom: 120px;
   position: relative;
   width: 100%;
   left: 0%;
   top: 95px;
 }

 #mainimg {
   margin: auto;
   text-align: center;
   position: relative;
   width: 70vw;/*MODIFICARE QUESTO*/
   height: calc((70vw * 40)/ 100);
   background-color: #0054F1;
   overflow: hidden;
 }

#carsofa{
  width: 100%;
  height: calc((70vw * 40)/ 100);
  object-fit: cover;
}

 #sec_img {
   margin: auto;
   position: relative;
   width: 54%;
   top: 86%;
   padding-top: 0.7%;
   z-index: 1;
   text-align: center;
 }

#c {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
}

 #description {
   position: absolute;
   width: 21%;
   left: 67%;
   top: 0px;
   background-color: #0054F1;
   height: 100%;
 }

 #features {
   position: relative;
   top: 12%;
   width: 100%;
   background-color: #f6f6f6;
   padding-bottom: 50px;
 }


 .content-container {
     position: relative;
     width: 400px;
     height: 400px;
 }
 .content-container div {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }

h1 {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
	letter-spacing: -0.06em;
	font-size: 5vmax;
  margin-bottom: 20px;
}

#contatti{
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0px;
  height: calc(100% - 80px);
}

#map {
  height: 75%;
  /* The height is 400 pixels */
  width: 65%;
  /* The width is the width of the web page */
}

#cose{
  position: absolute;
  top: calc(150px + 10%);
  left: 65%;
}

#contatti-2{
  width: 100%;
}

#chi_siamo{
  position: relative;
  top: 80px;
  width: calc(500px + 20%);
  height: calc(100% - 80px);
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 50px;
}

#esterni{
  object-fit: cover;
  width: 100%;
}

#nstrz{
  font-size: 25px;
}

@media only screen and (max-width: 1300px) {

  #map {
    width: 100%;
    height: 50vw;
    /* The width is the width of the web page */
  }

  #cose{
    position: relative;
    top: 20px;
    margin: auto;
    left: 0%;
  }

  #contatti-2{
    padding-left: 5%
  }
}

@media only screen and (max-width: 750px) {

  #map {
    width: 100%;
    /* The width is the width of the web page */
  }

  #cose{
    position: relative;
    top: 20px;
    margin: auto;
    left: 0%;
    overflow-x:auto;
  }

  #contatti-2{
    padding-left: 5%;
  }
}

@media only screen and (max-width: 975px) {

  .prod_text0 {
    font-size: 35px;
    font-weight: 800;
  }

  .prod_text1 {
    font-size: 15px;
    font-weight: 600;
  }

  .prod_text2{
    font-weight: 400;
    font-size: 13px;
  }

  .prod_text3 {
    font-size: 35px;
    font-weight: 800;
  }

  .prod_text4 {
    font-size: 30px;
    font-weight: 800;
  }

  .prod_text5 {
    font-size: 12px;
    font-weight: 800;
  }

  .back-to-top-wrapper {
    height: 130%
  }

  .pro_table{
    padding-top: 3%;
    width: 100%;/*MODIFICARE QUESTO*/
  }
  #mainimg{
    width: 100%;
    height: calc((70vw * 60)/ 100);
  }

  #carsofa{
    height: calc((70vw * 60)/ 100);
  }

  #features{
    top: 15%;
  }

  #chi_siamo{
    width: 100%
  }
}

@media only screen and (max-width: 600px) {

  .prod_text0 {
    font-size: 20px;
    font-weight: 800;
  }

  .prod_text1 {
    font-size: 12px;
    font-weight: 600;
  }

  .prod_text2{
    font-weight: 400;
    font-size: 12px;
  }

  .prod_text3 {
    font-size: 20px;
    font-weight: 800;
  }

  .prod_text4 {
    font-size: 20px;
    font-weight: 800;
  }

  .prod_text5 {
    font-size: 10px;
    font-weight: 600;
  }

  .back-to-top-wrapper {
    height: 200%
  }

  .pro_table{
    padding-top: 3%;
    width: 100%;/*MODIFICARE QUESTO*/
  }
  .back-to-top-link {
    font-size: 2rem;
    line-height: 2.8rem;
    width: 2rem;
    height: 2rem;
  }

  .back-to-top-wrapper {
    right: 1rem;
    height: 150%;
  }

  #obbiettivo{
    padding-bottom: 20px;
  }

  #agg{
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .fa{
    padding: 5px
  }

  #nstrz{
    font-size: 17px;
  }

}
